canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#spinnerId {
    widows: 100%;
    height: 500px;
    margin: 0 auto;
}

.entry-content {
    background: url(/images/me.svg);
}